{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="py-5 container account-container">
    <div class="container">
        <div class="row login g-0">
            <div class="d-none d-lg-block col-lg-5">
                <img class="img-fluid"
                    src="https://res.cloudinary.com/cloudmoira/image/upload/c_scale,h_680,w_550/v1635187577/Recipe%20images/krakenimages-7BpuzmcxlHU-unsplash_gsypu6.jpg"
                    alt="Login image">
            </div>
            <div class="col-lg-7 text-center py-5">
                <h1 class="py-5"><strong>Welcome Back</strong></h1>

                <div class="py-3 pt-3">
                    <h3>{% trans "Sign In" %}</h3>
                    <p>{% blocktrans %}Don't have an account?</p>
                    <p><a class="link" href="{{ signup_url }}">Register here
                        </a> first.{% endblocktrans %}</p>

                    <form method="POST" action="{% url 'account_login' %}">
                        <div class="form-row py-3 pt-5">
                            <div class="offset-lg-1 col-lg-10">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                <input class="inp" type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn1 btn-signup right" type="submit">{% trans "Log In" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}