{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<section class="py-4 container account-container">
  <div class="container">
    <div class="row login g-0">
      <div class="d-none d-xl-block col-lg-5">
        <img
          src="https://res.cloudinary.com/cloudmoira/image/upload/c_scale,h_680,w_550/v1635187577/Recipe%20images/krakenimages-7BpuzmcxlHU-unsplash_gsypu6.jpg"
          alt="sign out image">
      </div>
      <div class="col-lg-7 py-2">
        <h1 class="py-3 text-center"><strong>Register</strong></h1>

        <form class="register" id="register_form" method="POST" action="{% url 'account_signup' %}">
          <div class="row d.block col-lg-12">
            <div class="col-lg-12 offset-1">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input class="register px-3" type="hidden" 
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}" />
              {% endif %}
            </div>
            <div class="text-center col-lg-12 py-3 pt-2">
              <button class="btn1 btn-signup right" type="submit">
                {% trans "Register" %} &raquo;</button>
            </div>
            <div class="col-lg-12 py-3 pt-2">
              <p class="text-center">{% blocktrans %}Already registered? 
                <br> Log in <a
                  href="{{ login_url }}">here</a>.{% endblocktrans %}</p>
              <p></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
