{% load static %}
import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Poppins, sans-serif; 
}


.hero {
    background-image: url(https://res.cloudinary.com/cloudmoira/image/upload/v1635156815/Recipe%20images/vegetables-set-left-black-slate_1_sk0ubb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}


.card{
    box-shadow: -1px 15px 30px -10px black;
}
.card-wr-bg:hover{
    background-color: #f4dd97;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}
.card-s-bg:hover{
    background-color: #8bdfb8;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}
.card-d-bg:hover{
    background-color: #f07a85;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}
.card-footer{
    justify-content:space-around;
    text-align: center;
    display: flex;
    padding: 0px!important;
}
.card-footer div{
    flex-grow: 1 !important;
    border-right: 1px solid #dbdbdb;
    padding: 10px 0;
}
.card-footer div:last-child{
border-right: none;    
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card-cat {
    font-size: 1.3em;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}

.image-flash {
    position: absolute;
    bottom: 33%;
    min-width: 30%;
}

/* login */
.login {
    background: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
    
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: auto;
}


.btn1{
    height: 50px;
    width: 45%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(226, 48, 48);
}

/* .inp {
    height: 50px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 60px;

} */

/* search box */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}


/* Recipe view page */

.comment-message {
    margin-left: 20px;
    padding-left: 5px;
}

.recipe-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* .img {
    object-fit: cover;
    width: 100%;
    height: 250px;
} */




/* Footer */

/* footer {
    line-height: 1.1;
}

.footer-group p {
    font-size: 0.9rem;
}

.footer-group li a {
    font-size: 0.8rem;
} */