{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <h2>Categories</h2>
  
    <!-- Search -->
    <div class="container">
      <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
              <form class="search" method=POST action="{% url 'search_results' %}"> <i class="fa fa-search"></i> 
                {% csrf_token %}
                <input type="search" class="form-control" placeholder="Search Recipes" name="searched"> 
                <button class="btn btn-primary">Search</button> 
              </form>
          </div>
      </div>
  </div>

<h1 class="title">{{ categories.name }}</h1>





{% endblock %}