{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Home page hero image -->
<section class="hero">
<div class="container">
    <div>
        <div>
           <h1>Keep all your <span class="text-warning">favourite Recipes</span> in one place</h1>        
        </div>
        <!-- <img class="image-fluid" src="/static/css/images/rsz_hero-light-img-2-small.jpg" alt="Lets Cook It header"> -->
    </div>
   
</div>
</section>

<!-- owl carousel -->

<div class="container py-5">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for recipe in recipe_list %}
          <div class="col mt-5">
            <div class="card border-warning card-wr-bg"> <img src="https://res.cloudinary.com/cloudmoira/image/upload/v1635154286/Recipe%20images/jennie-brown-MKBoRZEGeiM-unsplash_i7lf4w.jpg" class="card-img-top" alt="...">
              <div class="card-body d-grid gap-3">
                <h5 class="card-title text-center text-capitalize">{{ recipe.title }}</h5>
                <p class="card-text text-center p-0 pb-3">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer text-light bg-warning"> 
                <div><i class="bi bi-facebook"></i></div>
                <div><i class="bi bi-twitter"></i></div>
                <div><i class="bi bi-youtube"></i></div>
                  <div><i class="bi bi-linkedin"></i></div>
                </div>
            </div>
          </div>
        
         
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %} -->
  </div>
  </body>
  </html>






{% endblock %}