{% extends "base.html" %}

{% block content %}
<h1 class="text-center">404: Page not found</h1>
<img id="404-img" alt="404-page-not-found" src="https://res.cloudinary.com/cloudmoira/image/upload/c_scale,q_63,w_1147/v1636124129/Recipe%20images/3804949_efpkrm.jpg">

<h2 class="text-center" id="msg-404">Oops! It seems you have lost your way</h2>
<h3 class="text-center" id="404-redirect">Head <a href="{% url 'home' %}">this way</a> back to the Home page <i class="fas fa-utensils"></i></h3>

{% endblock %}