{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h1 class="text-center">Edit Recipe</h1>
<div class="container">
    <div class="row">
        <form method="POST" class="edit-form">
            <div class="card">
                {% csrf_token %}
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
            <br>
            <div class="text-center">
                <input class="form-submit btn btn-success box-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
