{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-responsive delete-message">
   <div class="row">
      <div class="col-12 pt-5 text-center text-capitalize">
         <h1 class="delete-pg-title"> Delete Recipe </h1>
      </div>
   </div>
   <div class="row">
      <div class="col delete-body text-center centered m-5 py-5">
         <form method="post">
            {% csrf_token %}
            <p><strong>{{ user.username }}</strong>
               <br> are you sure you want to delete
               <br>
               <strong> {{ recipe.title }}?</strong>
            </p>
            <a href="{% url 'profile' %}" class="btn btn-success">Cancel</a>
            <a href="{% url 'recipe_delete' recipe.slug %}" 
               class="btn btn-danger">Confirm</a>
         </form>
      </div>
   </div>
</div>

{% endblock %}
