{% extends "base.html" %}

{% block content %}

<h1>Recipes.html</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for recipe in index %}
            <div class="col md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Recipe Card">
                    <div class="card-body">
                        <h4 class=""><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            {% endfor %}
     
        </div>
    </div>
</div> 


{% endblock %}