{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h1 class="text-center">Edit Recipe</h1>

<form class="edit-form" method="POST">
    {% csrf_token %}
    <div class="mb-3 card">
        <div class="mb-3 card-header">
            <div class="mb-3 card-body">
                Edit Recipe
            </div>
            <div class="">
                {% crispy form %}
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Submit">
    </div>
</form>



{% endblock %}