{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            Search Results
        </h3>
    </div>
</div>

<!-- Search -->
<div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <a class="btn btn-small btn-reset text-shadow" href="{% url 'recipes' %}">Reset</a>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="container-fluid">
    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.image_url.url %} 
                                <img class="card-img-top" src="/static/css/images/woman-in-chef-hat.jpg"> 
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.image_url.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipe.author }}</p>
                                    <p class="category">Category: {{ recipe.categories }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}