{% extends "base.html" %}
{% block content %}

<h1>single.html </h1>

    <div class="container">
        <div class="row">
            <div class="col-12 pt-5">
                <img class="card-img-top" src="https://via.placeholder.com/300x100" alt="Recipe Card">
                    <h2 class="pt-5">{{ recipe.title }}</h2>
                    <p>{{recipe.ingredients}}</p>
                        <p>{{recipe.method}}</p>
                    </div>
                </div>
            </div>


{% endblock %}